{% extends 'base.html' %}

{% block content %}

{% if not request.user.is_authenticated %}

<div style='margin-top: 50px;'>
    <form method='POST'>
        {% csrf_token %}
        {{ form.as_p }}
        <button style='margin-top: 10px;' type='submit'>Register</button>
        <p>Already have an account?<a href='/login'>Login</a></p>
    </form>
</div>

{% else %}
    <p style='color:green'>You're already logged in and cannot register, Would you like to <a href='/logout'>logout</a></p>
{% endif %}

{% endblock content %}